{{ define "history.html" }}
</head>
<script src="/fs/public/js/history.js"></script>
<script src="/fs/public/js/sort.js"></script>
<body>
<div class="container-lg">
  <div class="row">
    <div class="col-md mt-4 mb-4">
      <div class="card border-primary">
        <div class="card-body table-responsive">
          <table class="table table-striped">
            <thead>
              <th style="white-space: nowrap;">Name <i class="bi bi-sort-down-alt" onclick="sortBy('Name')"></i></th>
              <th style="white-space: nowrap;">Addr <i class="bi bi-sort-down-alt" onclick="sortBy('Addr')"></i></th>
              <th style="white-space: nowrap;">Port <i class="bi bi-sort-down-alt" onclick="sortBy('Port')"></i></th>
              <th style="white-space: nowrap;">PortName <i class="bi bi-sort-down-alt" onclick="sortBy('PortName')"></i></th>
              <th style="width: 100%;">State</th>
            </thead>
            <tbody id="tBody"></tbody> 
            <!-- history.js -->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer.html" }}
{{ end }}