{{ define "scan.html" }}
</head>
<script src="/fs/public/js/scan.js"></script>
<body>
<br>
<div class="container-lg">
  <div class="row">
    <div class="col-md">
      <h3>{{ .OneAddr.Name }}: {{ .OneAddr.Addr }}</h3>
    </div>
    <div class="col-md">
      <form class="input-group">
        <input id="begin" name="begin" type="text" class="form-control" placeholder="1">
        <input name="addr" type="hidden" class="form-control" value="{{ .OneAddr.Addr }}">
        <input id="end" name="end" type="text" class="form-control" placeholder="65535">
        <button onclick="scanAddr('{{ .OneAddr.Addr }}')" type="submit" class="btn btn-success">Scan</button>
      </form>
      <button onclick="scanAddr('{{ .OneAddr.Addr }}')" type="submit" class="btn btn-success">Scan2</button>
      <div id="curPort"></div>
      <button onclick="stopScan()" type="button" class="btn btn-danger">Stop</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="card border-primary">
      <div class="card-body table-responsive">
        <form action="/scan_save/" method="post" class="form">
          <input name="addr" type="hidden" value="{{ .OneAddr.Addr }}">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th>Port</th>
            <th>State</th>
            <th>Watch</th>
            <th>Del</th>
          </thead>
          <tbody id="tBody"></tbody>
        </table>
          <button type="submit" class="btn btn-success">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  loadSavedPorts('{{ .OneAddr.Addr }}', '{{ .OneAddr.PortMap }}')
</script>

{{ template "footer.html" }}
{{ end }}